* {
    box-sizing: border-box;
}
body {
    background-color: #A1AECF; 
}
@media(max-width:575px) {
    .container{
        background-color: #D6FF9C;
    }
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding: 0.5rem 0;
    margin-bottom: 3px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 3px 3px;
    margin-bottom: 0;
}
#paragraph {
    font-size: 25px;
   margin: 10px 25%;
   padding: 15px 10px;
}
table {
    font-size: 40px;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}
th {
    text-align: center;
    margin-left: 1px;
    padding: 0;
}
td {
    text-align: center;
    padding: 2px;
}
a {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 5px;
    padding: 3px 3px;
    text-decoration: none;
    border-radius: 10px;
}
a:visited {
   color: #9C2CA3;
}
a:hover {
    background-color: #CF4B21;
    text-decoration: underline;
    color: white;  
}

.float-left{
    float: left;
    margin: 10px;
}
article::after{
    content: "";
    display: table;
    clear: both;
}
article{
    width: 50%;
    margin: 0 auto;
}
.mypic {
    width: 50%;
    margin-top: 5px;
    border-radius: 999px!important;
}
img{
    width: 50%;
    border-radius: 15px;
}
#tbl  {
    text-align: center;
    margin-top: 10px;
}
 #friend {
    text-align: center;
    padding: 0;
} 
#btn {
    margin-top: 3px;  
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
} 
.container > img {
    width: 50%;
    padding: 10px;
    margin:0.5px;
} 
.friends{
    background: linear-gradient(45deg,#58ADF5, #5B71B7);
}
.hobbies {
    text-align: center;
}
#hobbies li{
    margin: 10px 25%;
}
.grid{
    background-color: #ffff;
    display: grid;
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}
.grid-item{
    background-color: royalblue;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}