  * {
    box-sizing: border-box;
}
body {
    background-color: #A1AECF; 
    margin: 0px;
}
/*
@media(max-width:575px) {
    .container{
        background-color: #D6FF9C;
    }
} */
nav {
    background-color:#69C6E8;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size:25px;
    font-weight: normal;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  } 
nav a {

    margin: 10px;
    display: flex;
    text-decoration: none;
}
header {
    border: 3px solid blue;
    margin: 30px 0;
    padding: 30px;
}

h1 {
    border: 3px solid red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px; 
}

h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 3px 3px;
    margin-bottom: 0;
}
.paragraph {
    font-size: 25px;
   margin: 10px 25%;
   padding: 15px 10px;
}
table {
    font-size: 40px;
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}
th {
    text-align: center;
    margin-left: 1px;
    padding: 0;
}
td {
    text-align: center;
    padding: 2px;
}
.mypic {
    width: 50%;
    margin-top: 5px;
    border-radius: 999px!important;
}
img{
    width: 50%;
    border-radius: 15px;
}

.hobbies {
    text-align: center;
}
#hobbies li{
    margin: 10px 25%;
}
main {
    display: inline-block;
    justify-content: center;
    margin: 10px 15%;
}
.section {

}

footer {
    margin: 15px 10px;
    text-align: center;
    background-color:#2BE3C2;
    padding: 15px;
}







.grid{
    background-color: #ffff;
    display: grid;
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
}
.grid-item{
    background-color: royalblue;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}